* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
	background-color: rgb(189, 150, 79);
}

html {
	font-size: 16px;
}

.container {
	border: 1px solid black;
	width: 60%;
	height: fit-content;
	border-radius: 10px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 100px;
	padding: 30px;
	font-size: 1.3rem;
	text-align: center;
	background-color: rgb(0, 0, 0);
	color: white;
	box-shadow: 5px -5px 10px 2px #efa424;
}

.acct {
	font-size: 0.8rem;
}

.btn {
	outline: none;
	cursor: pointer;
	border: none;
	padding: 6px 15px;
	display: block;
	position: relative;
	background-color: #fcad26;
	font-weight: bold;
	color: rgb(1, 1, 20);
	text-transform: uppercase;
	border-radius: 20px;
	box-shadow: 0 6px #efa424;
	margin: auto;
	font-family: monospace;
}

.btn:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.btn:active {
	box-shadow: none;
	top: 6px;
}

.btns {
	display: inline;
	outline: none;
	cursor: pointer;
	border: none;
	padding: 2px 8px;
	display: block;
	position: relative;
	background-color: skyblue;
	font-weight: bold;
	color: rgb(1, 1, 20);
	text-transform: uppercase;
	border-radius: 20px;
	box-shadow: 0 6px skyblue;
	margin-bottom: 20px;
	font-family: monospace;
	font-size: 0.9rem;
}

.btns:hover {
	box-shadow: 0 4px skyblue;
	top: 2px;
}

.btns:focus {
	background-color: wheat;
	box-shadow: 0 4px wheat;
	top: 2px;
}

.btn-container {
	display: flex;
	justify-content: space-between;
}

.check {
	font-size: 0.8rem;
}

footer {
	background-color: black;
	color: white;
}

.info {
	width: 95%;
	height: 30px;
	border-radius: 7px;
	outline: none;
	font-size: 0.9rem;
	border: none;
}

.info:focus {
	height: 35px;
	width: 100%;
	border: 4px solid #efa424;
	font-size: 1rem;
}

.info:hover {
	border: 3px solid rgb(14, 72, 95);
}

.link {
	font-size: 1rem;
	text-decoration: none;
	color: #efa424;
}

.link:hover {
	color: aqua;
}
